
  .generated-card{
    width: 350px;
    height:auto;
    background-size: cover;
    background-position:center;
    
  }

  .text-context{
    color:rgb(185, 183, 183) ;
    background: rgba(13, 13, 13, 0.7); /* Black see-through */
    
  
  }

  
  

 
  

  