
  .generated-card{
    width: 350px;
    height:auto;
    background-size: cover;
    background-position:center;
    
  }

  .text-context{
    color:rgb(208, 203, 203) ;
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    
  
  }

  
  

 
  

  